@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
* {
    box-sizing: border-box;
}

.card {
    background: #E6E6E6;
    margin: 50px 50px;
}

.clearfix {
    clear: both;
}

.box {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    
}

.left {
    float: left;
}

.num {
    width: 200px;
    height: 75px;
    font-family: 'Roboto-Regular';
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.right {
    float: right;
}

.litle {
    width: 100px;
    margin-left: 15px;
    height: 100px;
}

.box-litle {
    width: 100px;
    height: 37.5px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.one-two {
  margin-right:  15px;
}

.free-four {
    margin-left: 15px;
}